:root {
    --code: #09BC8A;
    --heading: #5c636a;
    --highlight: #F79D84;
    --border: #dee2e6;
    --download: #ffa500;
    --success: #006400;
    --error: #ff0000;
    --body-bg: #FAF9F6;
    --main-bg: #FFFFFF;
}
.text-wrap-balance {
  text-wrap: balance;
}
.success {
  color: var(--success)!important;
}
.error {
  color: var(--error)!important;
}
body {
  background-color: var(--body-bg);
}
main {
  background-color: var(--main-bg);
  border-bottom: 5px groove var(--highlight);
}
h1 {
  border-top: 5px ridge var(--highlight);
  border-bottom: 5px groove var(--highlight);
  width: fit-content!important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: var(--heading);
}
a {
  color: var(--highlight);
}
code {
  color: var(--code);
}
form {
  border: 2px dotted var(--border);
  border-radius: 15px;
}
#api-log p {
  color: var(--download);
}
.table-title {
  background-color: var(--main-bg);
  border-bottom: 5px ridge var(--highlight);
}
.btn-collapse {
  right: 0.5rem;
}
.streak .btn-collapse {
  right: 1rem;
  top: 0.5rem;
}
.streak-table {
  background-color: var(--main-bg);
}